/* Root container for pricing */
.pricing-root {
  max-width: 960px;
  margin: 40px auto;
  font-family: 'Roboto', sans-serif;
}

/* Header */
.pricing-header {
  text-align: center;
  margin-bottom: 24px;
}

/* Container for both packages */
.pricing-packages-container {
  display: flex;
  gap: 8px;
  justify-content: center;
}

/* Basic Package Styling */
.pricing-basic-package {
  background-color: var(--your-variable); /* Set a value for your variable */
  padding: 10px;
  border-radius: 8px;
  flex: 1;
  text-align: center;
}

/* Premium Package Styling */
.pricing-premium-package {
  background-color: #f9f0d9;
  padding: 10px;
  border-radius: 8px;
  flex: 1;
  border: 1px solid #5c58cd;
  text-align: center;
}

/* Price Text */
.pricing-price-text {
  margin: 16px 0;
  font-weight: bold;
  font-size: 36px;
}

/* List Icon Color */
.pricing-list-icon {
  color: #2e4566;
}

/* Premium Price Styling */
.pricing-premium-price {
  color: #38a9fa;
  font-weight: bold;
}

/* Premium Package Image Container */
.pricing-premium-image-container {
  margin: 16px 0;
  position: relative;
  height: 120px;
  overflow: hidden;
  border-radius: 4px;
}

/* Premium Image with Blur Effect */
.pricing-premium-image {
  width: 100%;
  filter: blur(2px);
  user-select: none;
}

/* Lock Icon Container */
.pricing-lock-icon-container {
  position: absolute;
  top: 40%;
  left: 45%;
  background-color: #888e99;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Button Styling for Basic Package */
.pricing-button-basic {
  margin-top: 24px;
  width: 100%;
  padding: 12px 0;
  font-weight: bold;
}

/* Button Styling for Premium Package */
.pricing-button-premium {
  background-color: #38a9fa;
  color: white;
  margin-top: 24px;
  width: 100%;
  padding: 12px 0;
  font-weight: bold;
}

/* Button Hover Effect for Premium Package */
.pricing-button-premium:hover {
  background-color: #2e4566;
}
